@import 'nib'
tomorrow-current-line = #efefef
tomorrow-selection = #d6d6d6
tomorrow-foreground = #4d4d4c
tomorrow-comment = #8e908c
tomorrow-red = #c82829
tomorrow-orange = #f5871f
tomorrow-yellow = #eab700
tomorrow-green = #718c00
tomorrow-aqua = #3e999f
tomorrow-blue = #4271ae
tomorrow-purple = #8959a8
f-color-yellow = #FAF185
f-color-yellow-dk = #F6E76A
f-color-yellow-lt = #FBF3B5
f-color-orange = #F5A623


monospace()
  font-family 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace

smallcaps()
  font-weight 300
  text-transform uppercase
  font-size 72%
  letter-spacing 2px

body
  font-family Roboto, 'Source Sans Pro', Lato, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  color #777

h1, h2, h3
  font-weight 300

code, kbd, pre, samp
  monospace()

pre
  background url(../img/stripes.png)
  border none
  border-radius 0

textarea
  &:focus
    outline none

input
  &:focus
    outline none

.table
  thead
    tr
      th
        border-bottom 1px solid #ccc

th, dt
  smallcaps()


//
// Bootstrap overrides
//

.alert
  border-radius 0


//
//
//

.f-header
  border-top 5px solid f-color-yellow
  padding 20px 0  
  .f-logo
    margin-left 5px

.f-cell
  position relative
  padding-left 5px
  border-left 3px solid transparent
  .f-cell-type
    display none
    position absolute
    width 25px
    left -28px
    top 0
    text-transform uppercase
    font-size 10px
    background f-color-yellow
    padding 1px 3px
    text-align center
  .f-cell-input
    textarea
      color #333
      width 100%
      max-height 500px
      border none
      border-left 2px solid tomorrow-orange
      monospace()
      background url(../img/stripes.png)
      padding 5px 10px
    &.f-cell-has-output
      textarea
        border-left 2px solid tomorrow-blue

  // rework this into a bootrap overrides section
  .progress
    height 9px
    margin 20px
  &.f-cell-selected
    border-color f-color-yellow
    .f-cell-type
      display block
  &.f-cell-active
    border-color f-color-orange
    .f-cell-type
      background f-color-orange
      color #fff
    .f-cell-input
      textarea
        background f-color-yellow-lt
  &.f-cell-busy
    border-color tomorrow-aqua
    .f-cell-type
      background tomorrow-aqua
      color #fff
  &.f-cell-error
    border-color red
    .f-cell-type
      background red
      color #fff
  
// 
// Styles that apply only to html cells 
// 

.f-html-output
  h1, h2, h3, blockquote
    font-weight 300

.f-raw-output
  pre
    background inherit


.f-button
  border-radius 12px
  border 1px solid #ccc
  padding 2px 12px
  font-size: 85%
  background-color: #fff
  .fa
    margin-right 5px
  &:hover
    background-color #eee
    border-color #aaa
  &.f-button-toggle
    color #fff
    background-color #777
    border-color #777
    &:hover
      background-color #333
      border-color #333
    

