.DS_Store
.DS_Store?
node_modules
lib
*.swp
*.log
*.tmp
.gradle
.idea/
*.sublime*project
*.sublime*workspace
sublime-projects
node_modules/
bin/
sublime-projects/
tests/selenium-debug.log
tests/nightwatch.json
tests/example.js
tests/reports/
npm-debug.log