.flow-widget
  h3.flow-hint
    i.fa.fa-cog
    | Setup Parse

  h4 Parse Configuration
  table.flow-form
    tbody
      tr
        th.flow-narrow Sources
        td.flow-wide
          // ko foreach:sourceKeys
          .flow-hint
            i.fa.fa-key
            span(data-bind='text:$data')
          // /ko

      tr
        th.flow-narrow ID
        td.flow-wide
          input.flow-textbox(type='text' data-bind="value:destinationKey")
      // ko if:canReconfigure
      tr
        th.flow-narrow Parser
        td.flow-wide
          select(data-bind="options:parseTypes, optionsText:'caption', value:parseType")
      tr
        th.flow-narrow Separator
        td.flow-wide
          select(data-bind="options:delimiters, optionsText:'caption', value:delimiter")
      tr
        th.flow-narrow Column Headers
        td.flow-wide
          div
            label
              input(type='radio' name='hasHeader' value='auto' data-bind='checked:headerOption')
              span Auto
          div
            label
              input(type='radio' name='hasHeader' value='header' data-bind='checked:headerOption')
              span First row contains column names
          div
            label
              input(type='radio' name='hasHeader' value='data' data-bind='checked:headerOption')
              span First row contains data
      tr
        th.flow-narrow Options
        td.flow-wide
          div
            label
              input(type='checkbox' data-bind='checked:useSingleQuotes')
              span Enable single quotes as a field quotation character
          div
            label
              input(type='checkbox' data-bind='checked:deleteOnDone')
              span Delete on done
      // /ko

  h4 Edit Column Names and Types
  div
    // ko if:canReconfigure
    input.flow-textbox(type='text' placeholder='Search by column name...' data-bind="value:columnNameSearchTerm, valueUpdate:'afterkeydown'")
    // /ko
    table.flow-form.flow-monospace
      tbody
        // ko foreach:columns
        tr
          td(data-bind='text:index')
          // ko if:$parent.canReconfigure
          td(style='min-width:100px')
            input.flow-textbox(type='textbox' data-bind="value:name, attr:{'title':name}")
          td
            select(data-bind="options:$parent.dataTypes, value:type")
          // /ko
          // ko foreach:data
          td(data-bind="text:$data")
          // /ko
        // /ko
    div
      button.flow-button(type='button' data-bind="click:goToPreviousPage, enable:canGoToPreviousPage")
        i.fa.fa-arrow-left
        span Previous page
      button.flow-button(type='button' data-bind="click:goToNextPage, enable:canGoToNextPage")
        i.fa.fa-arrow-right
        span Next page

  .flow-panel
    button.flow-button(type='button' data-bind='click:parseFiles')
      i.fa.fa-indent
      | Parse

