.flow-widget
  +subtitle('Predictions', 'bolt')

  // ko ifnot:hasPredictions
  blockquote Your H<sub>2</sub>O cloud has no predictions.
  .flow-panel
    +button('Make a prediction&hellip;', 'bolt', 'predict')
  // /ko
  
  // ko if:hasPredictions
  table.flow-form
    tbody
      tr
        th(width='1' style='font-size:inherit')
          input(type='checkbox' title='Select or deselect all' data-bind="checked:checkAllPredictions")
        th(width='1') &nbsp;
        th Model
        th Frame
        th.flow-right Actions
    tbody
      // ko foreach:predictionViews
      tr
        td
          input(type='checkbox' data-bind="checked:isChecked")
        td
          +fa('bolt')
        td(data-bind='text:modelKey')
        td(data-bind='text:frameKey')
        td.flow-right 
          // ko if:hasFrame
          +button('View', 'bolt', 'view')
          // /ko
          //- +button('Inspect', 'list', 'inspect')
      // /ko
  .flow-panel
    //- +button('Compare selected predictions&hellip;', 'area-chart', 'comparePredictions', 'canComparePredictions')
    //- +button('Plot predictions', 'bar-chart', 'plotPredictions')
    //- TODO handle non-binomial models
    //- +button('Plot scores', 'bar-chart', 'plotScores')
    //- +button('Plot metrics', 'bar-chart', 'plotMetrics')
    //- +button('Inspect', 'list', 'inspect')

  //- h4 ROC Curve
  //- .flow-plot(data-bind='raw:rocCurve')
  // /ko
