<link rel="import" href="paper-button/paper-button.html">
<link rel="import" href="paper-card/paper-card.html">
<link rel="import" href="paper-dialog/paper-dialog.html">
<link rel="import" href="paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="neon-animation/animations/slide-from-bottom-animation.html">
<link rel="import" href="neon-animation/animations/slide-down-animation.html">
<link rel="import" href="paper-collapse-item/paper-collapse-item.html">

<paper-dialog id="achievementContainer" entry-animation="slide-from-bottom-animation" exit-animation="slide-down-animation">
        <paper-dialog-scrollable>
            <h1>Acheivements</h1>
            <p>&nbsp;</p>
            <paper-card padding>
                <paper-collapse-item item="star" class="star-complete" header="Import Data Successfully">
                    Detailed tutorial information would go here
                </paper-collapse-item>
                <p>&nbsp;</p>
                <p><iron-icon icon="star" class="star-complete"></iron-icon> &nbsp; Importing data successfully</p>
                <p><iron-icon icon="star-border"></iron-icon> &nbsp; Split data into a training set and a testing set</p>
                <p><iron-icon icon="star-border"></iron-icon> &nbsp; Build a model</p>
                <p><iron-icon icon="star-border"></iron-icon> &nbsp; Set different data weights</p>
                <p><iron-icon icon="star-border"></iron-icon> &nbsp; Make a prediction</p>
            </paper-card>
        </paper-dialog-scrollable>
    <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
    </div>
</paper-dialog>

<script>
    let dataQuestContainer = document.querySelector("#dataQuestContainer");
    let dataChallengesContainer = document.querySelector("#dataChallengesContainer");
    let achievementContainer = document.querySelector("#achievementContainer");

    dataQuestContainer.addEventListener("click", () => achievementContainer.open());
    dataChallengesContainer.addEventListener("click", () => achievementContainer.open());
</script>