.flow-widget
  h3.flow-hint
    i.fa.fa-question-circle
    | Assistance

  table.flow-form
    thead
      tr
        th(width='1') &nbsp;
        th.flow-narrow Routine
        th.flow-wide Description
    tbody
      // ko foreach:routines  
      tr
        td
          i(data-bind="attr:{'class':icon}")
        td
          a.flow-monospace(href='#' data-bind='click:execute, text:name')
        td(data-bind='html:description')

      // /ko

