.flow-widget
  h3.flow-hint
    i.fa.fa-pie-chart
    | Summary: 
    span(data-bind='text:label')

  h4 Characteristics
  .flow-plot(data-bind='raw:characteristicsPlot')

  table.flow-form
    tbody
      tr 
        th(width='1') Actions
        td
          +button('Inspect', 'list', 'inspect')

