.flow-widget
  h3.flow-hint
    i.fa.fa-bolt
    | Summary: 
    span(data-bind='text:label')

  table.flow-form
    tbody
      tr 
        th(width='1') Actions
        td
          button.flow-button(type='button' data-bind='click:scan')
            i.fa.fa-bolt
            span Scan


