.flow-widget
  +subtitle('Export Model', 'cube')

  table.flow-form
    tr
      th(width='1')
        label Model:
      td
        select(data-bind="options:models, value:selectedModelKey, optionsCaption:'(Select)'")
    tr
      th(width='1')
        label Path:
      td
        input.flow-textbox(type='text' data-bind="value:path, valueUpdate:'afterkeydown'")
    tr
      th(width='1')
        label Overwrite:
      td
        input(type='checkbox' data-bind="checked:overwrite")
    tr
      th
        label Actions:
      td
        button.flow-button(type='button' data-bind='click:exportModel, enable:canExportModel')
          i.fa.fa-save
          span Export
    tr
      th
      td
        button.flow-button(type='button' data-bind='click:exportModelMojo, enable:canExportModelMojo')
          i.fa.fa-save
          span Export Model Deployment Package (MOJO)
