.flow-widget.flow-frame-output
  h3.flow-hint
    i.fa.fa-database
    span(data-bind="text:key")


  .flow-margin-after
    table.flow-form
      tbody
        tr 
          th(width='1') Actions:
          td
            +button('View Data', 'table', 'inspectData')
            +button('Split...', 'scissors', 'splitFrame')
            +button('Inspect', 'list', 'inspect')
            +button('Build Model&hellip;', 'cube', 'createModel')
            +button('Predict', 'bolt', 'predict')
            +button('Download', 'cloud-download', 'download')
          td.flow-right
            +button('Delete', 'trash-o', 'deleteFrame')

  .flow-margin-after
    table.flow-form.flow-form-ruled
      thead
        tr
          th &nbsp;
          th Rows
          th Columns
          th Compressed Size
      tbody
        tr
          td &nbsp;
          td(data-bind="text:rowCount")
          td(data-bind="text:columnCount")
          td(data-bind="text:size")



  .flow-plot(data-bind='raw:grid')
