.flow-widget.flow-frame-output
  h3.flow-hint
    i.fa.fa-database
    span(data-bind="text:key")

  table.flow-form
    tbody
      tr 
        th(width='1') Actions:
        td
          +button('View Data', 'list', 'inspectData')
          +button('Build Model&hellip;', 'cube', 'createModel')
          +button('Predict', 'bolt', 'predict')
        td.flow-right
          +button('Inspect', 'list', 'inspect')

  .flow-plot(data-bind='raw:grid')
