.flow-widget
  +subtitle('Grid Search', 'cubes')

  // ko if:hasModels
  .flow-panel
    //- +button('Compare selected&hellip;', 'area-chart', 'compareModels', 'canCompareModels')
    //- +button('Predict using selected models&hellip;', 'bolt', 'predictUsingModels', 'canCompareModels')
    +button('Inspect Grid Summary', 'list', 'inspect')
    +button('Inspect Scoring History', 'list', 'inspectHistory')
    +button('Inspect Models', 'list', 'inspectAll')
    +button('Delete selected', 'trash', 'deleteModels', 'hasSelectedModels')

  table.flow-form
    thead
      tr
        th(width='1' style='font-size:inherit')
          input(type='checkbox' title='Select or deselect all' data-bind="checked:checkAllModels")
        th(width='1') &nbsp;
        th Key
        th.flow-right Actions
    tbody
      // ko foreach:modelViews
      tr
        td
          input(type='checkbox' data-bind="checked:isChecked")
        td
          i.fa.fa-cube
        td
          +link('@key', 'view')
        td.flow-right 
          +button('Predict&hellip;', 'bolt', 'predict')
          //- +button('Clone&hellip;', 'copy', 'clone')
          +button('Inspect', 'list', 'inspect')
      // /ko

  // /ko

  // ko if:hasErrors
  // ko foreach:errorViews
  h4(data-bind='collapse:false, text:title')
  div
    p(data-bind="text:detail" style="color:red")
    p(data-bind="text:params" style="color:red")
    a.flow-small-caps.flow-small(href='#' data-bind='collapse:true') Stack trace
    pre(data-bind='text:stacktrace')
  // /ko
  // /ko
