//- 
//- H2O Extension Templates
//-
    
script(type="text/html" id="flow-help")
  include help.jade

script(type="text/html" id="flow-assist")
  include assist.jade

script(type="text/html" id="flow-no-assist")
  include no-assist.jade

script(type="text/html" id="flow-data-tables-output")
  include data-tables-output.jade

script(type="text/html" id="flow-data-table-output")
  include data-table-output.jade

script(type="text/html" id="flow-parse-raw-input")
  include parse-input.jade

script(type="text/html" id="flow-import-file-output")
  include import-file-output.jade

script(type="text/html" id="flow-model-output")
  include model-output.jade

script(type="text/html" id="flow-parse-output")
  include parse-output.jade

script(type="text/html" id="flow-import-files-output")
  include import-files-output.jade

script(type="text/html" id="flow-import-files")
  include import-files.jade

script(type="text/html" id="flow-checkbox-model-parameter")
  include model-parameter-checkbox.jade

script(type="text/html" id="flow-textbox-model-parameter")
  include model-parameter-textbox.jade

script(type="text/html" id="flow-dropdown-model-parameter")
  include model-parameter-dropdown.jade

script(type="text/html" id="flow-list-model-parameter")
  include model-parameter-list.jade

script(type="text/html" id="flow-group-model-parameter")
  include model-parameter-group.jade

script(type="text/html" id="flow-models-output")
  include models-output.jade

script(type="text/html" id="flow-frames-output")
  include frames-output.jade

script(type="text/html" id="flow-model-input")
  include model-input.jade

script(type="text/html" id="flow-jobs-output")
  include jobs-output.jade

script(type="text/html" id="flow-frame-output")
  include frame-output.jade

script(type="text/html" id="flow-column-summary-output")
  include column-summary-output.jade

script(type="text/html" id="flow-job-output")
  include job-output.jade

