//- 
//- H2O Extension Templates
//-
    
script(type="text/html" id="flow-assist")
  include assist.jade

script(type="text/html" id="flow-no-assist")
  include no-assist.jade

script(type="text/html" id="flow-inspects-output")
  include inspects-output.jade

script(type="text/html" id="flow-inspect-output")
  include inspect-output.jade

script(type="text/html" id="flow-plot-input")
  include plot-input.jade

script(type="text/html" id="flow-plot-output")
  include plot-output.jade

script(type="text/html" id="flow-create-frame-input")
  include create-frame-input.jade

script(type="text/html" id="flow-split-frame-input")
  include split-frame-input.jade

script(type="text/html" id="flow-split-frame-output")
  include split-frame-output.jade

script(type="text/html" id="flow-merge-frames-input")
  include merge-frames-input.jade

script(type="text/html" id="flow-merge-frames-output")
  include merge-frames-output.jade

script(type="text/html" id="flow-partial-dependence-input")
  include partial-dependence-input.jade

script(type="text/html" id="flow-partial-dependence-output")
  include partial-dependence-output.jade

script(type="text/html" id="flow-roomscale-scatterplot-input")
  include roomscale-scatterplot-input.jade

script(type="text/html" id="flow-roomscale-scatterplot-output")
  include roomscale-scatterplot-output.jade

script(type="text/html" id="flow-parse-raw-input")
  include parse-input.jade

script(type="text/html" id="flow-import-file-output")
  include import-file-output.jade

script(type="text/html" id="flow-model-output")
  include model-output.jade

script(type="text/html" id="flow-import-files-output")
  include import-files-output.jade

script(type="text/html" id="flow-import-files")
  include import-files.jade

script(type="text/html" id="flow-checkbox-model-parameter")
  include model-parameter-checkbox.jade

script(type="text/html" id="flow-textbox-model-parameter")
  include model-parameter-textbox.jade

script(type="text/html" id="flow-dropdown-model-parameter")
  include model-parameter-dropdown.jade

script(type="text/html" id="flow-list-model-parameter")
  include model-parameter-list.jade

script(type="text/html" id="flow-group-model-parameter")
  include model-parameter-group.jade

script(type="text/html" id="flow-grids-output")
  include grids-output.jade

script(type="text/html" id="flow-models-output")
  include models-output.jade

script(type="text/html" id="flow-grid-output")
  include grid-output.jade

script(type="text/html" id="flow-import-model-input")
  include import-model-input.jade

script(type="text/html" id="flow-import-model-output")
  include import-model-output.jade

script(type="text/html" id="flow-export-model-input")
  include export-model-input.jade

script(type="text/html" id="flow-export-model-output")
  include export-model-output.jade

script(type="text/html" id="flow-frames-output")
  include frames-output.jade

script(type="text/html" id="flow-rdds-output")
  include rdds-output.jade

script(type="text/html" id="flow-dataframes-output")
  include dataframes-output.jade


script(type="text/html" id="flow-dataframe-output")
  include dataframe-output.jade

script(type="text/html" id="flow-h2oframe-output")
  include h2oframe-output.jade

script(type="text/html" id="flow-scala-code-output")
  include scala-code-output.jade

script(type="text/html" id="flow-scala-intp-output")
  include scala-intp-output.jade

script(type="text/html" id="flow-model-input")
  include model-input.jade

script(type="text/html" id="flow-automodel-input")
  include automodel-input.jade

script(type="text/html" id="flow-jobs-output")
  include jobs-output.jade

script(type="text/html" id="flow-frame-output")
  include frame-output.jade

script(type="text/html" id="flow-export-frame-input")
  include export-frame-input.jade

script(type="text/html" id="flow-bind-frames-output")
  include bind-frames-output.jade

script(type="text/html" id="flow-export-frame-output")
  include export-frame-output.jade

script(type="text/html" id="flow-frame-data-output")
  include frame-data-output.jade

script(type="text/html" id="flow-column-summary-output")
  include column-summary-output.jade

script(type="text/html" id="flow-job-output")
  include job-output.jade

script(type="text/html" id="flow-cancel-job-output")
  include cancel-job-output.jade

script(type="text/html" id="flow-predict-input")
  include predict-input.jade

script(type="text/html" id="flow-predicts-output")
  include predicts-output.jade

script(type="text/html" id="flow-predict-output")
  include predict-output.jade

script(type="text/html" id="flow-cloud-output")
  include cloud-output.jade

script(type="text/html" id="flow-impute-input")
  include impute-input.jade

script(type="text/html" id="flow-timeline-output")
  include timeline-output.jade

script(type="text/html" id="flow-profile-output")
  include profile-output.jade

script(type="text/html" id="flow-stacktrace-output")
  include stacktrace-output.jade

script(type="text/html" id="flow-log-file-output")
  include log-file-output.jade

script(type="text/html" id="flow-network-test-output")
  include network-test-output.jade

script(type="text/html" id="flow-file-open-dialog")
  include file-open-dialog.jade

script(type="text/html" id="flow-file-upload-dialog")
  include file-upload-dialog.jade

script(type="text/html" id="flow-delete-objects-output")
  include delete-objects-output.jade
