.flow-widget
  +subtitle('Table Imported', 'save')
  blockquote The specified SQL Table was imported successfully.
  button.flow-button(type='button' data-bind='click:viewData')
    i.fa.fa-table
    span View


