.flow-widget
  +subtitle('Table Import', 'save')
  blockquote The specified SQL Table is being imported.
  button.flow-button(type='button' data-bind='click:viewData')
    i.fa.fa-table
    span View


