.flow-widget
  +subtitle('Import Model', 'cube')

  table.flow-form
    tr
      th(width='1')
        label Path:
      td
        input.flow-textbox(type='text' data-bind="value:path, valueUpdate:'afterkeydown'")
    tr
      th(width='1')
        label Overwrite:
      td
        input(type='checkbox' data-bind="checked:overwrite")
    tr
      th
        label Actions:
      td
        button.flow-button(type='button' data-bind='click:importModel, enable:canImportModel')
          i.fa.fa-cloud-upload
          span Import

