.flow-widget
  +subtitle('Model Imported', 'save')
  blockquote The specified model was imported successfully.
  button.flow-button(type='button' data-bind='click:viewModel')
    i.fa.fa-cube
    span View Model

