.flow-widget
  h3.flow-hint
    i.fa.fa-info-circle
    span(data-bind='text:label')

  h4 Schema
  table.flow-form
    thead
      tr
        th(width='1') &nbsp;
        th(width='1') Name
        th Type
    tbody
      // ko foreach:vectors
      tr
        td
          +fa('ellipsis-v')
        td(data-bind='text:label')
        td(data-bind='text:type')
      // /ko

  table.flow-form
    tbody
      tr 
        th(width='1') Actions
        td
          button.flow-button(type='button' data-bind='click:view')
            i.fa.fa-info-circle
            span View
          // ko if:canPlot
          button.flow-button(type='button' data-bind='click:plot')
            i.fa.fa-bar-chart
            span Plot
          // /ko


