.flow-widget
  +subtitle('Jobs', 'tasks')

  // ko if:exception
  div(data-bind="template: { name:'flow-failure', data:exception }")
  // /ko
  // ko if:hasJobViews
  table.flow-form
    thead
      tr
        th &nbsp;
        th Type
        th Destination
        th Description
        th Start Time
        th End Time
        th Run Time
        th Status
    tbody
      // ko foreach:jobViews
      tr
        td
          +fa('tasks')
        td(data-bind='text:type')
        td
          a(href='#' data-bind='text:destination, click:view')
        td(data-bind='text:description')
        td(data-bind='text:startTime')
        td(data-bind='text:endTime')
        td(data-bind='text:elapsedTime')
        td(data-bind='text:status')
      // /ko
  // /ko
  // ko ifnot:hasJobViews
  blockquote Your H<sub>2</sub>O cloud has no jobs.
  // /ko
  .flow-panel
    button.flow-button(type='button' data-bind="click:toggleRefresh, css:{ 'flow-button-toggle':isLive }")
      // ko if:isLive
      i.fa.fa-refresh.fa-spin
      | Stop
      // /ko
      // ko ifnot:isLive
      i.fa.fa-refresh
      | Refresh
      // /ko

