.flow-widget
  h3.flow-hint
    i.fa.fa-tasks
    | Leaderboard

  h4(data-bind='collapse:false') User Feedback
  div
    div(data-bind='text:feedbackDescription')
    .flow-plot(data-bind='raw:feedback')

