.flow-widget
  h3.flow-hint
    i.fa.fa-file-text-o
    span Log

  div
    | Select Log File Type:
    select(data-bind="options:fileTypes, value:activeFileType")

  div
    | Select Node: 
    select(data-bind="options:nodes, optionsText:'name', value:activeNode")

  pre(data-bind='text:contents')
  

