tr(data-bind="css:{'bg-danger':hasError, 'bg-warning':hasWarning, 'bg-info':hasInfo}, visible:isVisible")
  th
    label(data-bind='text:label')
    span(data-bind='visible:isRequired') *
  td(colspan='2')
    div(style='height:25px')
      input.flow-textbox(type='text' placeholder='Search...' data-bind="value:searchTerm, valueUpdate:'afterkeydown'")
    div(style='font-size:80%' data-bind='text:searchCaption')
    div(style='margin-bottom:5px;height:300px;overflow:auto;border:1px dotted #ccc')
      table
        tbody
          // ko foreach:entries
          tr
            td
              label
                input(type='checkbox' data-bind='checked:isSelected')
                span(data-bind='text:value')
            td.flow-narrow.flow-aside(data-bind='text:type')
            td.flow-narrow.flow-aside(data-bind='text:missingLabel')
          // /ko

    table(style='margin-bottom:10px;width:100%')
      tbody
        tr
          td
            +button('All', 'check-square-o', 'selectFiltered', 'hasFilteredItems')
            +button('None', 'square-o', 'deselectFiltered', 'hasFilteredItems')
          td(style='text-align:right')
            +button('Previous 100', 'arrow-left', 'goToPreviousPage', 'canGoToPreviousPage')
            +button('Next 100', 'arrow-right', 'goToNextPage', 'canGoToNextPage')
    div(style='font-size:80%')
      | Only show columns with more than&nbsp;
      input.flow-textbox(type='text' style='width:30px' placeholder='0' data-bind="value:ignoreNATerm, valueUpdate:'afterkeydown'")
      | % missing values.
  td
    input(type='checkbox' title="Check to enable grid search on this parameter" data-bind="visible:isGridable, checked:isGrided")
tr(data-bind="css:{'bg-danger':hasError, 'bg-warning':hasWarning, 'bg-info':hasInfo}, visible:hasMessage")
  th &nbsp;
  td(colspan='3' data-bind='text:message')

