tr(data-bind="css:{'bg-danger':hasError, 'bg-warning':hasWarning, 'bg-info':hasInfo}")
  th
    label(data-bind='text:label')
  td
    input.flow-textbox(type='text' data-bind='value:value')
  td
    span(data-bind='text:description')
tr(data-bind="css:{'bg-danger':hasError, 'bg-warning':hasWarning, 'bg-info':hasInfo}, visible:hasMessage")
  th &nbsp;
  td(colspan='2' data-bind='text:message')

