tr
  th(colspan='3' style='text-align:left;text-transform:inherit')
    h4(data-bind='text:title' style='margin-top:20px; border-bottom:1px dotted #ccc')
  th(data-bind='visible:grided', style='text-align:left;text-transform:inherit')
    h4(style='margin-top:20px; border-bottom:1px dotted #ccc') Grid?
