.flow-widget
  h3.flow-hint
    i.fa.fa-cube
    | Build a Model

  // ko if:parentException
  div(data-bind="template: { name:'flow-failure', data:parentException }")
  // /ko

  div
    | Select an algorithm:
    select(data-bind="options:algorithms, optionsText:'algo_full_name', value:algorithm, optionsCaption: '(Algorithm)'")


  // ko with:modelForm

  // ko if:exception
  div(data-bind="template: { name:'flow-failure', data:exception }")
  // /ko

  table.flow-form(data-bind='template: { name: parameterTemplateOf, foreach:form }')

  // /ko

  .flow-panel
    button.flow-button(type='button' data-bind="click:createModel, enable:canCreateModel")
      i.fa.fa-tasks
      | Build Model
    // ko with:modelForm
    span(style='margin-left:10px; color:red' data-bind='visible:hasValidationFailures, text:validationFailureMessage')
    // /ko


