tr(data-bind="css:{'bg-danger':hasError, 'bg-warning':hasWarning, 'bg-info':hasInfo}, visible:isVisible")
  th
    label(data-bind='text:label')
    span(data-bind='visible:isRequired') *
  td
    div(data-bind="visible:isNotGrided")
      select(data-bind="options:values, value:value, optionsCaption: '(Choose...)'")
    div(data-bind="visible:isGrided")
      // ko foreach:choices
      div
        label
          input(type='checkbox' data-bind='checked:value')
          span(data-bind='text:label')
      // /ko
  td
    span(data-bind='text:description')
  td
    input(type='checkbox' title="Check to enable grid search on this parameter" data-bind="visible:isGridable, checked:isGrided")
tr(data-bind="css:{'bg-danger':hasError, 'bg-warning':hasWarning, 'bg-info':hasInfo}, visible:hasMessage")
  th &nbsp;
  td(colspan='3' data-bind='text:message')

