tr(data-bind="css:{'bg-danger':hasError, 'bg-warning':hasWarning, 'bg-info':hasInfo}, visible:isVisible")
  th
    label(data-bind="text:label, attr:{ 'for':clientId }")
    span(data-bind='visible:isRequired') *
  td
    input(type='checkbox' data-bind="checked:value, attr:{ 'id':clientId }")
  td
    span(data-bind='text:description')
tr(data-bind="css:{'bg-danger':hasError, 'bg-warning':hasWarning, 'bg-info':hasInfo}, visible:hasMessage")
  th &nbsp;
  td(colspan='2' data-bind='text:message')
