tr(data-bind="css:{'bg-danger':hasError, 'bg-warning':hasWarning, 'bg-info':hasInfo}, visible:isVisible")
  th
    label(data-bind='text:label')
    span(data-bind='visible:isRequired') *
  td
    select(data-bind="options:values, value:value, optionsCaption: '(None)'")
  td
    span(data-bind='text:description')
tr(data-bind="css:{'bg-danger':hasError, 'bg-warning':hasWarning, 'bg-info':hasInfo}, visible:hasMessage")
  th &nbsp;
  td(colspan='2' data-bind='text:message')

