tr(data-bind="css:{'bg-danger':hasError, 'bg-warning':hasWarning, 'bg-info':hasInfo}, visible:isVisible")
  th
    label(data-bind='text:label')
    span(data-bind='visible:isRequired') *
  td
    div(style='height:20px') Available:
    div(style='height:25px')
      input.flow-textbox(type='text' placeholder='Search...' data-bind="value:availableSearchTerm, valueUpdate:'afterkeydown'")
    div(style='margin-bottom:5px;height:200px;overflow:auto;border:1px dotted #ccc')
      table
        tbody
          // ko foreach:availableValues
          tr.flow-pointer(data-bind='visible:isAvailable() && canInclude(), click:include')
            td
              i.fa.fa-plus(title='Add')
            td(data-bind='text:value')
          // /ko
    div
      +button('Add all', 'plus', 'includeAll')
  td
    div(style='height:20px') Selected:
    div(style='height:25px')
      input.flow-textbox(type='text' placeholder='Search...' data-bind="value:selectedSearchTerm, valueUpdate:'afterkeydown'")
    div(style='margin-bottom:5px;height:200px;overflow:auto;border:1px dotted #ccc')
      table
        tbody
          // ko foreach:selectedValues
          tr.flow-pointer(data-bind='visible:canExclude, click:exclude')
            td
              i.fa.fa-remove.flow-pointer(title='Remove')
            td(data-bind='text:value')
          // /ko
    div
      +button('Clear All', 'remove', 'excludeAll')

tr(data-bind="css:{'bg-danger':hasError, 'bg-warning':hasWarning, 'bg-info':hasInfo}, visible:hasMessage")
  th &nbsp;
  td(colspan='2' data-bind='text:message')

