.flow-widget
  +subtitle('Model Deviances Visualization', 'link')

  table.flow-form
    tbody
      tr
        th(width='150')
          label Validation Frame:
        td
          select(data-bind="options:frames, value:selectedFrame, optionsCaption:'(Select)'")
      // ko if:selectedFrame
      tr
        th
          label Selected Frame:
        td
          span(data-bind='text:selectedFrame')
      // /ko
      
  div.flow-panel
    button.flow-button(type='button' data-bind='click:compute, enable:canCompute')
      i.fa.fa-link
      span Compute



