.flow-widget
  h3.flow-hint
    i.fa.fa-question-circle
    | Uh-oh

  blockquote Sorry, I cannot assist you with that routine.
  
  .flow-panel
    button.flow-button(type='button' data-bind='click:showAssist')
      i.fa.fa-bars
      | Assist me&hellip;
