.flow-widget
  +subtitle('Partial Dependence Summary', 'table')

  .flow-margin-after
    table.flow-form
      tbody
        tr
          th.flow-narrow Model ID:
          td.flow-wide(data-bind='text:modelId')
        tr
          th.flow-narrow Frame ID:
          td.flow-wide(data-bind='text:frameId')
  
  // ko foreach:partialDependencePlots
  h4(data-bind='text:description, collapse:true')
  table.flow-form
    tbody
      tr
        td(data-bind='raw:plot')
        td(data-bind='raw:table')
  // /ko

