.flow-widget
  +subtitle('Prediction', 'bolt')

  table.flow-form
    tbody
      tr
        th(width='1')
          label Actions:
        td
          +button('Inspect', 'list', 'inspect')
          +button('View Prediction Frame', 'database', 'viewPredictionFrame')

  // ko if:isBinomial
  h4 Output
  .flow-plot(data-bind='raw:predictionRecord')

  h4 ROC Curve
  .flow-plot(data-bind='raw:rocCurve')  

  // /ko

