.flow-widget
  +subtitle('Prediction', 'bolt')

  table.flow-form
    tbody
      // ko with:predictionTable
      // ko foreach:rows
      tr
        th(data-bind='text:parameter')
        td(data-bind='text:value')
      // /ko
      // /ko
      tr
        th(width='1')
          label Actions:
        td
          +button('Inspect', 'list', 'inspect')

