.flow-widget
  +subtitle('Predict', 'bolt')

  table.flow-form
    tr
      th
        label Model:
      td
        // ko if:hasModels
        span(data-bind='text:selectedModelsCaption')
        // /ko
        // ko ifnot:hasModels
        select(data-bind="options:models, value:selectedModel, optionsCaption:'(Select)'")
        // /ko
    tr
      th
        label Frame:
      td
        // ko if:hasFrames
        span(data-bind='text:selectedFramesCaption')
        // /ko
        // ko ifnot:hasFrames
        select(data-bind="options:frames, value:selectedFrame, optionsCaption:'(Select)'")
        // /ko
    tr
      th
        label Actions:
      td
        button.flow-button(type='button' data-bind='click:predict, enable:canPredict')
          i.fa.fa-bolt
          span Predict

