.flow-widget.flow-profile-output
  h3.flow-hint
    i.fa.fa-wrench
    span Profiler

  div
    | Select Node: 
    select(data-bind="options:nodes, optionsText:'name', value:activeNode")

  // ko with:activeNode
  h4(data-bind='text:caption')
  // ko foreach:entries
  p(data-bind='text:caption')
  pre(data-bind='text:stacktrace')
  // /ko
  // /ko


