.flow-widget
    // ko with:scalaCodeView
    h4(data-bind="text:\"Status: \"+status")
    h4 Scala Response:
    p(data-bind="gutruncate: { text: response, options: { minLength: 100 }}" style="white-space: pre-wrap")
    h4 Console Output:
    p(data-bind="text:output" style="white-space: pre-wrap")
    // /ko