.flow-widget
    // ko with:scalaCodeView
    h4(data-bind="text:\"Status: \"+status")
    h4 Console Output:
    p(data-bind="text:output")
    h4 Scala Response:
    p(data-bind="text:response")
    // /ko