.flow-widget
  h3.flow-hint
    i.fa.fa-files-o
    | Import Files
  table.flow-form
    tbody
      tr
        th(width='125') Search:
        td
          table(width='100%')
            tbody
              tr
                td.flow-wide
                  input.flow-textbox(type='text' style='width:100%' data-bind="value:specifiedPath, valueUpdate:'keydown', enterKey:tryImportFiles, typeahead:listPathHints" placeholder='Enter a file or directory path and press the Enter key')
                td.flow-narrow(style='padding:0')
                  button.flow-button(type='button' data-bind='click:tryImportFiles' title='Search for files')
                    i.fa.fa-search

      // ko if:hasErrorMessage
      tr
        th &nbsp;
        td(data-bind='text:exception')
      // /ko

      // ko if:hasImportedFiles
      tr
        th Search Results:
        // ko if:hasUnselectedFiles
        td
          div
            span(data-bind='text:importedFileCount')
            |   
            // ko if:hasUnselectedFiles
            a(href='#' data-bind='click:selectAllFiles') Add all
            // /ko
          div.flow-well
            // ko foreach:importedFiles
            // ko ifnot:isSelected
            .flow-hint.flow-pointer(data-bind='click:select')
              i.fa.fa-plus(title='Select file')
              span(data-bind="text:path")
            // /ko
            // /ko
        // /ko
        // ko ifnot:hasUnselectedFiles
        td (All files added)
        // /ko
      // /ko
      tr
        th Selected Files:
        td
          div
            span(data-bind='text:selectedFileCount')
            |    
            // ko if:hasSelectedFiles
            a(href='#' data-bind='click:deselectAllFiles') Clear All
            // /ko

          // ko if:hasSelectedFiles
          div.flow-well
            // ko foreach:selectedFiles
            .flow-hint.flow-pointer(data-bind='click:deselect')
              i.fa.fa-remove(title='Deselect file')
              span(data-bind='text:path')
            // /ko
          // /ko
      tr.flow-actions
        th Actions:
        td
          button.flow-button(type='button' data-bind='click:importSelectedFiles, enable:hasSelectedFiles')
            i.fa.fa-cloud-upload
            | Import
// /ko

