.flow-widget
  +subtitle('Split Frames', 'table')

  table.flow-form
    thead
      tr
        th(width='1') Type
        th Key
        th.flow-right(width='1') Ratio
    tbody
      // ko foreach:frames
      tr
        td
          i.fa.fa-table
        td
          a(href='#' data-bind='text:key, click:view')
        td.flow-right(data-bind='text:ratio')
      // /ko

