.flow-widget
  h3.flow-hint
    i.fa.fa-scissors
    | Split Frame

  table.flow-form
    tbody
      tr
        th
          label Frame:
        td
          select(data-bind="options:frames, value:frame, optionsCaption:'(Select)'")
      tr
        th
          label Splits:
        td
          table
            thead
              tr
                th(style='text-align:left') Ratio
                th Key
            tbody
              // ko foreach:splits
              tr
                td
                  input.flow-textbox(type='text' data-bind="value:ratioText, valueUpdate:'afterkeydown'")
                td
                  input.flow-textbox(type='text' style='width:300px' data-bind="value:key")
                td 
                  span.flow-pointer(title='Delete this split' data-bind='click:remove')
                    +fa('remove')
              // /ko
              tr
                td(data-bind="text:lastSplitRatioText")
                td
                  input.flow-textbox(type='text' style='width:300px' data-bind="value:lastSplitKey")
                td &nbsp; 
          div
            a.flow-pointer(data-bind='click:addSplit') Add a new split
      tr
        th
          label Seed:
        td
          input.flow-textbox(type='text' style='width:100px' data-bind="value:seed")

  .flow-panel
    +button('Create', 'scissors', 'splitFrame')
    div(style='color:red' data-bind='text:validationMessage')

