#aboutDialog.modal.fade(tabindex='-1', role='dialog', aria-labelledby='aboutDialogLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4#aboutDialogLabel.modal-title Flow v0.2.20
      .modal-body
        
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close

