#alert-dialog.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
          span.sr-only Close
        h4.modal-title(data-bind='html:title')
      .modal-body
        div(data-bind='text:message')
      .modal-footer
        button.btn.btn-primary(type='button' data-bind='click:accept') OK
