h4.flow-hint
  i.fa.fa-files-o
  | Flows

.flow-sidebar-content
  .flow-browser
    // ko ifnot:hasDocs
    p
      | You have no saved notebooks. To save a notebook, click the 
      i.fa.fa-save
      | &nbsp;icon, or choose File 
      i.fa.fa-angle-right
      | &nbsp;Save from the application menu.

    // /ko

    // ko if:hasDocs
    table
      tbody
        // ko foreach:docs
        tr
          td
            i.fa.fa-file-o
          td
            div
              +link('@name', 'load')
            .flow-small(data-bind='text:fromNow, attr:{title:date}')
          td
            i.fa.fa-trash-o.flow-pointer(data-bind='click:purge')
        // /ko
    // /ko

    div(style='margin-top:10px')
      +button('Refresh', 'refresh', 'loadNotebooks')

