.flow-cell(data-bind="click:select, css:{ 'flow-cell-selected':isSelected, 'flow-cell-active':isActive, 'flow-cell-ready':isReady, 'flow-cell-busy':isBusy, 'flow-cell-error':hasError, 'flow-cell-code':isCode }, scrollIntoView:_actions")
  .flow-cell-type(data-bind="text:type")
  .flow-cell-input(data-bind="visible:isInputVisible")
    .flow-cell-code(data-bind="visible:hasInput, css:{ 'flow-cell-has-output':hasOutput }")
      table(style='width:100%')
        tbody
          tr
            td
              //ko ifnot:type()=='sca'
              textarea(placeholder='Expression...' rows='1' spellcheck='false' data-bind="value:input, valueUpdate:'afterkeydown', hasFocus:isActive, cursorPosition:_actions, autoResize:_actions")
              // /ko
              //ko if:type()=='sca'
              textarea(data-bind="value:input, cursorPosition:_actions, autoResize:_actions, valueUpdate: 'afterkeydown', codemirror: {cell: $data, active: isActive, options: {readOnly: false, lineWrapping: true, lineNumbers: true, theme: 'flow', matchBrackets: true, mode: {name: 'text/x-scala'}}}")

              // /ko
            td.flow-cell-actions
              i.fa.fa-paperclip.flow-pointer(title='Save to clipboard' data-bind='click:clip')
          tr
            td.flow-cell-time(data-bind='text:time')
            td.flow-cell-actions
      // /ko
  .flow-cell-output(data-bind="css:{ 'flow-hide-output': isOutputHidden }")
    // ko if:result
    .flow-cell-result(data-bind='template:{ name: templateOf, data:result }')
    // /ko
    .flow-cell-outputs(data-bind='template: { name: templateOf, foreach:outputs }')

