.flow-cell(data-bind="click:select, css:{ 'flow-cell-selected':isSelected, 'flow-cell-active':isActive, 'flow-cell-ready':isReady, 'flow-cell-busy':isBusy, 'flow-cell-error':hasError }")
  .flow-cell-type(data-bind="text:type")
  .flow-cell-input(data-bind="visible:isInputVisible")
    .flow-cell-code(data-bind="visible:hasInput, css:{ 'flow-cell-has-output':hasOutput }")
      table(style='width:100%')
        tbody
          tr
            td 
              textarea(placeholder='Expression...' rows='1' spellcheck='false' data-bind="value:input, valueUpdate:'afterkeydown', hasFocus:isActive, cursorPosition:_cursorPosition, autoResize:input")
            td.flow-cell-actions
              i.fa.fa-heart-o.flow-pointer(title='Save to clipboard' data-bind='click:clip')
  .flow-cell-output(data-bind='visible:isOutputVisible')
    // ko if:result
    .flow-cell-result(data-bind='template:{ name: templateOf, data:result }')
    // /ko
    .flow-cell-outputs(data-bind='template: { name: templateOf, foreach:outputs }')

