.alert.alert-danger(role='alert')
  // ko with:error
  h4(data-bind='text:message')
  // ko with:cause
  pre(data-bind='stringify:$data' style='border-radius:0;background:none;') 

  // ko if:stack
  pre(data-bind='text:stack')
  // /ko

  // /ko

  // /ko

