tr(data-bind="visible:visible")
  th
    label(data-bind='text:label')
  td
    select(data-bind="options:options, value:value, optionsCaption:caption, attr:{ id:id }")
  td
    span(data-bind='text:description')

