tr(data-bind="visible:visible")
  th
    label(data-bind='text:label')
  td
    input.flow-textbox(type='text' data-bind="value:value, valueUpdate:event, disable:disable, attr:{ id:id }")
  td
    span(data-bind='text:description')

