.navbar-header
  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#flow-compass')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  span.navbar-brand.flow-logo

// ko if:menus
#flow-compass.collapse.navbar-collapse
  ul.nav.navbar-nav
    // ko foreach:menus
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        span(data-bind='text:label')
        span.caret
      ul.dropdown-menu(role='menu')
        // ko foreach:items

        // ko ifnot:action

        // ko if:label
        li.dropdown-header(data-bind='text:label')
        // /ko

        // ko ifnot:label
        li.divider
        // /ko

        // /ko

        // ko if:action
        li
          a(href='#' data-bind='click:action') 
            span(data-bind='html:label')
        // /ko

        // /ko
    // /ko
// /ko

