nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .flow-navbar(data-bind="template: { name:'flow-navbar', data:$data }")
.container-fluid
  .flow-titlebar
    // ko if:isEditingTitle
    div
      input(type='text' data-bind="value:title, valueUpdate:'afterkeydown', enterKey:saveTitle")
      i.fa.fa-check.flow-pointer(data-bind='click:saveTitle')
    // /ko
    // ko ifnot:isEditingTitle
    .flow-pointer(data-bind='click:editTitle' title='Edit title...')
      span(data-bind='text:title') 
      i.fa.fa-pencil
    // /ko
  .flow-toolbar(data-bind="template: { name:'flow-toolbar', data:toolbar }" style="margin-bottom:10px")
