nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .flow-navbar(data-bind="template: { name:'flow-navbar', data:$data }")
.container-fluid
  .flow-toolbar(data-bind="template: { name:'flow-toolbar', data:toolbar }" style="margin-bottom:10px")
