nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .flow-navbar(data-bind="template: { name:'flow-navbar', data:$data }")
.container-fluid
  .flow-titlebar
    // ko if:isEditingName
    div
      input(type='text' data-bind="value:name, valueUpdate:'afterkeydown', enterKey:saveName")
      i.fa.fa-check.flow-pointer(data-bind='click:saveName')
    // /ko
    // ko ifnot:isEditingName
    .flow-pointer(data-bind='click:editName' title='Edit notebook name...')
      span(data-bind='text:name') 
      i.fa.fa-pencil
    // /ko
  .flow-toolbar(data-bind="template: { name:'flow-toolbar', data:toolbar }" style="margin-bottom:10px")
