.flow-widget
  h3.flow-hint
    i.fa.fa-meh
    | Uh-oh

  blockquote Sorry, I cannot assist you with that routine.
  
  .flow-panel
    button.flow-button(type='button' data-bind='click:showMenu')
      i.fa.fa-support
      | Try the H<sub>2</sub>O Flow Menu&hellip;
