.flow-status-bar(data-bind="css:{ 'busy':isBusy }")
  #achivementDisplay
    a(id="dataQuestContainer")
      #numDataQuestsCompleted 0&nbsp;
      div of&nbsp;
      #numDataQuestsTotal 4&nbsp;
      div Data Quests completed.&nbsp;
    div &nbsp;&nbsp;
    a(id="dataChallengesContainer")
      #numDataChallengesCompleted 0&nbsp;
      div of&nbsp;
      #numDataChallengesTotal 3&nbsp;
      div Data Challenges solved.
  table
    tbody
      tr
        td(width='1')
          i.fa.fa-circle(style='color:#1d9d74')
          i.fa.fa-cog.fa-spin
        td(data-bind='text:message')
        td(width='1') Connections:
        td.flow-right(width='1' data-bind='text:connections')
        td.h2o-logo(width='1') &nbsp;
