.btn-toolbar(role='toolbar')
  // ko foreach:$data
  .btn-group
    // ko foreach:$data
    button.btn.btn-default.flow-toolbar-button(type='button' data-bind='attr:{ title:label }')
      i(data-bind="attr:{ 'class':icon }, click:action")
    // /ko
  // /ko

