.btn-toolbar(role='toolbar')
  // ko foreach:$data
  .btn-group
    // ko foreach:$data
    button.btn.btn-default.flow-toolbar-button(type='button' data-bind='attr:{ title:label }, click:action')
      i(data-bind="attr:{ 'class':icon }")
    // /ko
  // /ko

  .btn-group(style='float:right')
    // ko with:$parent
    // ko if:isSidebarHidden
    button.btn.btn-default.flow-toolbar-button(type='button' title='Show Sidebar' data-bind='click:toggleSidebar')
      i.fa.fa-angle-double-left
    // /ko
    // ko ifnot:isSidebarHidden
    button.btn.btn-default.flow-toolbar-button(type='button' title='Hide Sidebar' data-bind='click:toggleSidebar')
      i.fa.fa-angle-double-right
    // /ko
    // /ko
