h4.flow-hint
  i.fa.fa-clipboard
  | Clipboard

.flow-sidebar-content
  .flow-clipboard
    h6
      | My Clips 
      span(data-bind='text:userClipCount')
    // ko if:hasUserClips
    div(data-bind="template:{ name:'flow-clips', data:userClips }")
    // /ko
    // ko ifnot:hasUserClips
    p
      | You have no clips. To save a clip into this list, click the 
      i.fa.fa-paperclip
      | &nbsp; paperclip next to the cell.
      br
      br
      | Click on a clip to insert it into your notebook. Click the 
      i.fa.fa-play-circle
      | &nbsp;button to insert and execute the clip.
    // /ko
    h6
      | System 
      span(data-bind='text:systemClipCount')
    div(data-bind="template:{ name:'flow-clips', data:systemClips }")
    h6
      | Trash 
      span(data-bind='text:trashClipCount')
    // ko if:hasTrashClips
    div(data-bind="template:{ name:'flow-clips', data:trashClips }")
    div(style='margin-top:10px')
      +button('Empty Trash', 'trash', 'emptyTrash')
    // /ko
    // ko ifnot:hasTrashClips
    p Trash is empty. Cells that you cut or delete from your notebook appear here.
    // /ko
