// ko with:shortcutsHelp
#keyboardHelpDialog.modal.fade(tabindex='-1', role='dialog', aria-labelledby='keyboardHelpDialogLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4#keyboardHelpDialogLabel.modal-title Keyboard Shortcuts
      .modal-body
        table.flow-form
          tbody
            tr
              td(width='50%')
                h5 Command Mode
                div(data-bind="template:{ name:'flow-keyboard-shortcut-table', data:normalMode}")
                
              td(width='50%')
                h5 Edit Mode
                div(data-bind="template:{ name:'flow-keyboard-shortcut-table', data:editMode}")
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
// /ko

